<<<<<<< HEAD
blockquote {
  font-style: italic
}


p {
    margin: 0;
    text-indent: 0cm
}

/* Whole document: */
body{
  font-family: Calibri ;
  font-size: 12pt;
=======
blockquote {
  font-style: italic
}


p {
    margin: 0;
    text-indent: 0cm
}

/* Whole document: */
body{
  font-family: Calibri ;
  font-size: 12pt;
>>>>>>> b202b44511ee815a4075c127bdc9e52cc3c36a12
}